.portfolio{
    padding: 30px;
}
h3{
    
    text-align: center;
}
    

h1{
    
    text-align: center;
}


/**.flex-box{
    display:flex;
    border:2px solid black;
    padding:2px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.flex-box div{
    border: 2px solid black;
    padding: 2px;
    
    


}*/
table{
    width:100%;
    border-collapse:collapse;
}

table,th,td{
    border:1px solid;
}